version: '3.8'

services:
  api:
    container_name: ts-backend-api
    build:
      dockerfile: Dockerfile
      context: .
      target: development
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    command: npm run start:dev
    ports:
      - 3000:3000
    depends_on:
      - redis
      - mysql

  mysql:
    container_name: ts-backend-db
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - '3306:3306'
    volumes:
      - docker-nest-mysql:/var/lib/mysql
  redis:
    container_name: ts-backend-redis
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redis:/data

volumes:
  docker-nest-mysql:
  redis:
    driver: local
